#img1 {
    position: absolute;
    z-index: -1;
    max-width: 150px;
    top: auto;
    left: 0;
    transition: all 0.1s ease;
    opacity: 0.5;
}
#img2 {
    position: absolute;
    z-index: -1;
    max-width: 150px;
    top: auto;
    left: 0;
    transition: all 0.1s ease;
    opacity: 0.5;
}